/* driveFileExplorer.css */
.file-container {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping to next line */
    overflow-x: auto; /* Allow horizontal scrolling if files exceed container width */
}

.file-tile {
    cursor: pointer;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px; /* Add margin between tiles */
    flex: 0 0 auto; /* Prevent flex items from shrinking */
}

.file-tile img {
    max-width: 100%;
    max-height: 100px;
}

/* Modal Styles */
.slds-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9002; /* Adjust z-index as needed */
    display: none;
}

.slds-modal__container {
    background-color: #fff;
    border: 1px solid #d8dde6;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    width: 50%; /* Adjust width as needed */
    max-width: 40rem; /* Maximum width of the modal */
}

.slds-modal__header {
    padding: 0.75rem 1rem;
    background-color: #f3f4f6;
    border-bottom: 1px solid #d8dde6;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.slds-modal__content {
    padding: 1rem;
}

.slds-modal__footer {
    padding: 0.75rem 1rem;
    background-color: #f3f4f6;
    border-top: 1px solid #d8dde6;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.slds-modal__close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

/* Backdrop Styles */
.slds-backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9001; /* Should be below the modal z-index */
    display: none;
}